.App {
  text-align: center;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: black;
}
.leftBorder {
  border-left: 1px lightgray solid;
}
.rightBorder {
  border-right: 1px lightgray solid;
}
.urlLink {
  margin-top: 10px;
  font-size: 12px;
}
.urlLink u {
  color: rgba(50, 162, 232, 0.922);
  cursor: pointer;
}
